.logo {
  height: 60px;
  width: 80px;
}

.card {
  display: flex;
  flex-direction: row;
}

.list {
  text-decoration: none;
  color: blue;
  margin: 8px;
}

.unorder {
  display: flex;
  flex-direction: row;
}
.avatar {
  height: 40px;
  width: 40px;
  margin-top: 20px;
}

.input {
  margin-top: 24px;
}

input {
  border-radius: 5px;
}

.button {
  height: 30px;
}
.icon {
  margin-top: 24px;
}
